* {
  margin: 0;
  padding: 0;
}

header {
  background-color: blanchedalmond;
}
main {
  padding: 1.2rem 0.5rem;
  background-color: aqua;
}

footer {
  background-color: black;
}

#imageLogo {
  height: 4rem;
  width: 4rem;
}
.col-12 {
  margin-top: 0.5rem;
}
